{% extends 'base.html.twig' %}

{% block main %}
    {{ dump(request) }}
    <div class="col-lg-6 col-lg-offset-3">
        <form class="form-horizontal" name="check" action="{{ path('user_check') }}" method="post">
            <fieldset>
                <legend>Check User</legend>
                <div class="form-group">
                    <label for="username" class="col-lg-3 control-label">Username</label>
                    <div class="col-lg-9">
                        <input type="text" name="_username" class="form-control" id="username" placeholder="Enter Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-lg-3 control-label">Password</label>
                    <div class="col-lg-9">
                        <input type="password" name="_password" class="form-control" id="password" placeholder="Enter Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('check') }}">
                        <input class="btn btn-primary" type="submit" value="Check">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}